[submodule "gutil"]
	path = gutil
	url = ssh://george@gdomain.homelinux.net/srv/git/gutil.git
[submodule "stockfish"]
	path = stockfish
	url = ssh://george@gdomain.homelinux.net/srv/git/stockfish.git
