
<table style="text-align:center;border-spacing:1pt;font-family:'Arial Unicode MS';border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:0pt 0pt 0pt 0pt;">
    <tr style="vertical-align:bottom;">
        <td style="vertical-align:middle;width:12pt;font-size:15pt;">8</td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;">
            <span style="font-size:26pt;color:#55007f">&#9820;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;">
            <span style="font-size:26pt;color:#55007f">&#9822;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;">
            <span style="font-size:26pt;color:#55007f">&#9821;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;">
            <span style="font-size:26pt;color:#55007f">&#9819;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;">
            <span style="font-size:26pt;color:#55007f">&#9818;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;">
            <span style="font-size:26pt;color:#55007f">&#9821;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;">
            <span style="font-size:26pt;color:#55007f">&#9822;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;">
            <span style="font-size:26pt;color:#55007f">&#9820;</span>
        </td>
    </tr>
    <tr style="vertical-align:bottom;">
        <td style="vertical-align:middle;width:12pt;font-size:15pt;">7</td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;">
            <span style="font-size:26pt;color:#55007f">&#9823;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;">
            <span style="font-size:26pt;color:#55007f">&#9823;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;">
            <span style="font-size:26pt;color:#55007f">&#9823;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;">
            <span style="font-size:26pt;color:#55007f">&#9823;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;">
            <span style="font-size:26pt;color:#55007f">&#9823;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;">
            <span style="font-size:26pt;color:#55007f">&#9823;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;">
            <span style="font-size:26pt;color:#55007f">&#9823;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;">
            <span style="font-size:26pt;color:#55007f">&#9823;</span>
        </td>
    </tr>
    <tr style="vertical-align:bottom;">
        <td style="vertical-align:middle;width:12pt;font-size:15pt;">6</td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;"> </td>
    </tr>
    <tr style="vertical-align:bottom;">
        <td style="vertical-align:middle;width:12pt;font-size:15pt;">5</td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;"> </td>
    </tr>
    <tr style="vertical-align:bottom;">
        <td style="vertical-align:middle;width:12pt;font-size:15pt;">4</td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;"> </td>
    </tr>
    <tr style="vertical-align:bottom;">
        <td style="vertical-align:middle;width:12pt;font-size:15pt;">3</td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;"> </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;"> </td>
    </tr>
    <tr style="vertical-align:bottom;">
        <td style="vertical-align:middle;width:12pt;font-size:15pt;">2</td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;">
            <span style="font-size:26pt;color:#55007f">&#9817;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;">
            <span style="font-size:26pt;color:#55007f">&#9817;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;">
            <span style="font-size:26pt;color:#55007f">&#9817;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;">
            <span style="font-size:26pt;color:#55007f">&#9817;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;">
            <span style="font-size:26pt;color:#55007f">&#9817;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;">
            <span style="font-size:26pt;color:#55007f">&#9817;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;">
            <span style="font-size:26pt;color:#55007f">&#9817;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;">
            <span style="font-size:26pt;color:#55007f">&#9817;</span>
        </td>
    </tr>
    <tr style="vertical-align:bottom;">
        <td style="vertical-align:middle;width:12pt;font-size:15pt;">1</td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;">
            <span style="font-size:26pt;color:#55007f">&#9814;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;">
            <span style="font-size:26pt;color:#55007f">&#9816;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;">
            <span style="font-size:26pt;color:#55007f">&#9815;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;">
            <span style="font-size:26pt;color:#55007f">&#9813;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;">
            <span style="font-size:26pt;color:#55007f">&#9812;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;">
            <span style="font-size:26pt;color:#55007f">&#9815;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffaaff;">
            <span style="font-size:26pt;color:#55007f">&#9816;</span>
        </td>
        <td style="width:35pt;height:35pt;border-collapse:collapse;border-color:#FFFFFFFF;border-style:solid;border-width:1pt 1pt 1pt 1pt;background-color:#ffffff;">
            <span style="font-size:26pt;color:#55007f">&#9814;</span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td style="font-size:15pt;">a</td>
        <td style="font-size:15pt;">b</td>
        <td style="font-size:15pt;">c</td>
        <td style="font-size:15pt;">d</td>
        <td style="font-size:15pt;">e</td>
        <td style="font-size:15pt;">f</td>
        <td style="font-size:15pt;">g</td>
        <td style="font-size:15pt;">h</td>
    </tr>
</table>